<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Participants</h1>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <%id = 0%>
    <% @attendances.each do |attendance| %>
    <tr>
      <td><%= attendance.participant_id %></td>
      <!-- event_path(event.id) -->
    <%id += 1%>
    </tr>
    <% end %>
  </tbody>
